* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-page-container {
  display: flex;
  justify-content: center;
  background-image: url("/images/downtown.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.title-page-logo {
  height: 150px;
  width: 150px;
  align-self: center;
  margin-bottom: 100px;
}

.title-page-textbox {
  background: white;
  opacity: .9;
  height: 35px;
  width: 300px;
  position: absolute;
  bottom: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-page-nav-container {
  background: white;
  opacity: .9;
  height: 40px;
  width: 300px;
  position: absolute;
  margin-top: 50px;
  padding: 10px;
}

.title-page-ul {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;

  list-style: none;
}
