* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, button {
  cursor: pointer;
}

.title-page-container {
  display: flex;
  justify-content: center;
  background-image: url("/images/downtown.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.title-page-logo {
  height: 150px;
  width: 150px;
  align-self: center;
  margin-bottom: 100px;
}

.title-page-textbox {
  background: white;
  opacity: .9;
  height: 35px;
  width: 300px;
  position: absolute;
  bottom: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-page-nav-container {
  background: white;
  opacity: .9;
  width: 300px;
  position: absolute;
  margin-top: 50px;
  padding: 10px 0;
}

.title-page-ul {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  list-style: none;
}

.aboutme-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2.0em;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

.aboutme-nav-logo {
  position: absolute;
  left: 0%;
  height: 100px;
  width: 100px;
}

.aboutme-nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
  align-self: flex-end;
  /* justify-content: space-between; */
  text-transform: uppercase;
  padding-right: 5px;
}

.aboutme-nav-ul li {
  margin-right: 10px;
}

.aboutme-projects-div {
  margin: 20px;
}

.aboutme-text-container {
  margin-top: 10px;
}

.project-img {
  display: flex;
  padding: 10px;
  height: auto;
  width: 500px;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.project-prev-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.btn-div {
  display: flex;
}

.project-btn {
  margin: 10px;
  height: 50px;
  width: 120px;
  background-color: #333;
  color: white;
  border: none;
}

.project-btn:hover {
  background: #5F282E;
  color: white;
}

/* .project-text-container {
  text-align: center;
} */

.project-notable-text {
  font-family: 'Courier New', Courier, monospace;
  line-height: 2.0em;
  padding: 0 20px;
}